awsebcli==3.14.6
backcall==0.1.0
beautifulsoup4==4.6.3
bleach==3.3.0
botocore==1.12.9
cement==2.8.2
certifi==2022.12.7
chardet==3.0.4
colorama==0.3.9
decorator==4.3.0
defusedxml==0.5.0
Django==2.2.28
django-annoying==0.10.4
django-classy-tags==0.8.0
django-cors-headers==2.4.0
django-facebook==6.0.3
django-js-asset==1.1.0
django-mptt==0.9.1
django-nyt==1.1.2
django-pyodbc-azure==2.1.0.0
django-rest-framework==0.1.0
django-sekizai==0.10.0
django-sslserver==0.20
django-taggit==0.22.2
django-webpack-loader==0.6.0
djangorestframework==3.11.2
djangorestframework-jwt==1.11.0
docutils==0.14
html5lib==1.0.1
idna==2.7
ipdb==0.11
ipython==7.16.3
ipython-genutils==0.2.0
jedi==0.12.1
jmespath==0.9.3
Markdown==2.6.11
mysql-connector-python-rf==2.2.2
mysqlclient==1.3.12
oauthlib==2.1.0
parso==0.3.1
pathspec==0.5.5
pickleshare==0.7.4
Pillow==9.0.1
prompt-toolkit==1.0.15
Pygments==2.7.4
PyJWT==2.4.0
pyodbc==4.0.24
python-dateutil==2.7.3
python3-openid==3.1.0
pytz==2018.4
PyYAML==5.4
requests==2.20.1
requests-oauthlib==1.0.0
semantic-version==2.5.0
simplegeneric==0.8.1
six==1.11.0
social-auth-app-django==3.1.0
social-auth-core==2.0.0
sorl-thumbnail==12.5.0
tabulate==0.7.5
termcolor==1.1.0
traitlets==4.3.2
Unidecode==1.0.23
urllib3==1.26.5
wcwidth==0.1.7
webencodings==0.5.1
wiki==0.7.9
wikipedia==1.4.0
word2number==1.1
